<!-- fragments/navbar.html -->
<nav th:fragment="navbarFragment"
     class="bg-white shadow-md py-4 px-6 flex justify-between items-center sticky top-0 z-50">
    <a href="/" class="text-xl font-bold text-blue-600 hover:text-indigo-700 transition-colors">Feelight</a>

    <div class="space-x-4 flex items-center">
        <!-- 로그인하지 않은 사용자용 -->
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="text-gray-700 hover:underline">로그인</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}" class="text-gray-700 hover:underline">회원가입</a>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/logout}" method="post" class="inline">
            <button type="submit"
                    class="text-gray-700 hover:underline bg-transparent border-none cursor-pointer p-0">
                로그아웃
            </button>
        </form>

        <!-- 로그인한 사용자용 -->
        <a sec:authorize="isAuthenticated()" th:href="@{/user/mypage}"
           class="bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600">마이페이지</a>
    </div>
</nav>
